3to2==1.1.1
astroid==1.6.5
atomicwrites==1.2.1
attrs==18.2.0
cachetools==2.1.0
certifi==2018.10.15
chardet==3.0.4
-e git+https://github.com/cduck/ternary-verification@ebcb5b4b0ae6979bd33bd9f75fec4b24f400b505#egg=cirq
coverage==4.5.1
cycler==0.10.0
Cython==0.29
decorator==4.3.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
httplib2==0.11.3
idna==2.7
isort==4.3.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.3
mccabe==0.6.1
more-itertools==4.3.0
mypy==0.610
mypy-extensions==0.4.1
networkx==2.2
numpy==1.15.2
pluggy==0.7.1
protobuf==3.6.1
py==1.7.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pylint==1.9.3
pyparsing==2.2.2
pytest==3.6.4
pytest-cov==2.5.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
rsa==4.0
scipy==1.1.0
six==1.11.0
sortedcontainers==2.0.5
typed-ast==1.1.0
typing-extensions==3.6.6
uritemplate==3.0.0
urllib3==1.24
wrapt==1.10.11
